
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Pixelify+Sans&family=Roboto:wght@300&display=swap');

.calculator {
    font-family: 'Roboto';
    height: 540px;
    width: 360px;
    border-radius: 5px;
    border: 8px solid #202020;
    overflow: hidden;
    background-color: #202020;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 56px 56px 56px 56px 56px;
}
